<form class="flex-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <header>
        <h1>Register</h1>
    </header>
    
    <div>
        <input formControlName="username" placeholder="Username" type="text">
        <input formControlName="email" placeholder="Email Address" type="email">
    </div>
    
    <div>
        <input formControlName="mobile_no" placeholder="Mobile No." type="text">
    </div>
    
    <div>
        <input formControlName="password" placeholder="Password" type="password">
        <input formControlName="confirm_password" placeholder="Confirm Password" type="password">
    </div>
    

    
    <!-- Buttons -->
    <div>
        <button type="submit" class="register">Register</button>
    </div>
</form>
