<form class="flex-container" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <header>
        <h1>Register</h1>
    </header>
    
    <!-- First Name and Last Name -->
    <div>
        <input formControlName="first_name" placeholder="First Name" type="text">
        <input formControlName="last_name" placeholder="Last Name" type="text">
    </div>
    
    <!-- Mobile Number -->
    <div>
        <input formControlName="mobile_no" placeholder="Mobile No." type="text">
    </div>
    
    <!-- Email Address -->
    <div>
        <input formControlName="email" placeholder="Email Address" type="email">
    </div>
    
    <!-- Password and Confirm Password -->
    <div>
        <input formControlName="password" placeholder="Password" type="password">
        <input formControlName="confirm_password" placeholder="Confirm Password" type="password">
    </div>
    

    
    <!-- Buttons -->
    <div>
        <button type="submit" class="register">Register</button>
    </div>
</form>
