button {
    margin: 5px;
    border: 0px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    color: White;
    background-color: coral;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}